* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(247, 247, 247);
    font-family:"Work Sans", sans-serif;
}

nav {
    max-width: 110%;
    height: 60px;
    background-color: #24292e;
    padding-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
}


ul > * {
    display: inline-block;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
    align-items:center;
    float: left;
}

nav a {
    text-decoration: none; 
    color: white;
    transition: all 0.25s ease-in-out;
}

nav a:hover {
    color: #656b72;

}

img {
    padding-top: px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.width{
    width: 50%;
}

li {
    line-height: 40px;
    

}

button {
    border-radius: 3px;
    border-color: white;
}

nav ul {
    float: left;
    color: white;
    padding: 0 30px;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    padding-right: 30px;
}

nav ul li ul {
   visibility: hidden;
   position: absolute;
   background-color: #ffffff;
   padding: 20px;
   float: left;
   border-radius:10px;
   transition: all 0.25s ease-in-out;
   opacity: 0;
   width: 300px;
   z-index: 10;
   
}

nav ul li:hover ul {
    visibility: visible;
    transition: all 0.25s ease-in-out;
    opacity: 1;
}

nav ul li ul li {
    font-size: 14px;
    width: 100%;
}
    

nav ul li ul a {
    padding: 5px 0px;
    color: black;
} 

nav ul li ul a:hover {
    color: rgb(0, 102, 255);
} 

.button-one{
    border-radius: 4px;
    background-color: #24292e;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
}

::placeholder {
    color: rgb(182, 180, 180);
    font-family:"Work Sans", sans-serif;
    font-size: 14px;   
}

nav input[type=text] {
    padding: 7px;
    background-color: #656b72;
    border-radius: 7px;  
}
.border {
    border-radius: 90%;
}

.caret {
    line-height: 42px;
    float: right;
}

.parent:hover .caret {
    transform: rotate(90deg);
    transition: 500ms ease;
}

h1 {
    color: white;
    font-size: 60px;
}

.grey-text {
    color: #8b929c;
    font-size: 21px;
}

.underline {
        color: rgb(199, 198, 198);
}

.underline:hover {
        color: #fff;
}

.section-one {
    height: 650px;
    width: 100%;
    position: relative;
    background: #2b3137 url(https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg) no-repeat;
    background-size: cover;
}

.form-div {
    background-color: white;
    border: #fff;
    border-radius: 7px;
    height: 420px;
    width: 400px;
    padding: 50px 20px;
    position: absolute;
    right: 20%;
    bottom: 10%;
}

.text-div-one {
    position: absolute;
    height: 100px;
    width: 490px;
    right: 52%;
    bottom: 55%;
}

.green-button {
    height: 60px;
    width: 400px;
    border-radius: 8px;
    background-color: rgb(27, 192, 27);
    color: white;
    font-size: 16px;
    border-style: none;
}

.green-button:hover {
    background-color: rgb(10, 134, 10);
    transition: all 250ms ease-in-out;
}

.form {
    width: 370px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-label {
    padding: 5px;
    padding-bottom: 5px;
}

form input[type=text] {
    padding: 7px;
    background-color: #ffffff;
    border-radius: 7px; 
    border-width: 2px; 
}

form input[type=text]:focus {
    padding: 7px;
    background-color: #ffffff;
    border-radius: 7px;
    border-color: rgb(0, 183, 255); 
    outline: none;
    box-shadow: blue 0 0 10px;
}

.section-two {
    position: relative;
    width: 1235;
    height: 327px;
    background-color: white;
    border-style: solid 1px black;
    margin: auto;
    margin: 150px;
}

.div-box {
    position: relative;
    height: 327px;
    width: 900px;
}

.text-div-two {
    color: black
    height 100px;
    width: 300px;
    font-size: 18px;
    position: absolute;
    right: 60%;
    bottom: 15%;
}

.text-div-three {
    color: black;
    height: 100px;
    width: 350px;
    position: absolute;
    bottom: 45%;
    right: 0%;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 13px;
}

.blue-button {
    color: white;
    background-color: rgb(0, 162, 255);;
    height: 50px;
    width: 150px;
    border-radius: 7px;
    border-style: none;
    font-size: medium;
}

.blue-button:hover {
    background-color: rgb(0, 102, 255);
    transition: all 500ms ease-in-out;
}

.text-div-four {
    color: black;
    height: 100px;
    width: 350px;
    position: absolute;
    bottom: 45%;
    right: -35%;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 13px;
}

.border-button{
    color: rgb(0, 162, 255);
    font-size: medium;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 7px;
    border: 1px solid rgb(0, 162, 255);
    
}

.small-image {
    height: 600px;
    width: 600px;
    position: absolute;
    right: 0%;
    bottom: 120px;
    pointer-events: none;
}

.border-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .border-button span:after {
    content: '&#8594';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    transition: 0.5s;
  }

  .border-button:hover span {
    padding-left: 10px;
  }

  .border-button:hover{
    color: rgb(0, 162, 255);
    font-size: medium;
    background-color: white;
    height: 50px;
    width: 150px;
    border-radius: 7px;
    border: 1px solid rgb(8, 114, 175);
  }

#para-one {
    line-height: 35px;
}

#header-one {
    line-height: 45px;
}

.font-size-11 {
    font-size: 11px;
}








